.custom-header {
    background-color: #ffec95;
    font-family: 'Cinzel Decorative', cursive;
}

.left-panel {
    background-color: #ff514b;
    height: 100%;
}

/*
font-family: 'Montserrat', sans-serif;
*/