.default-font {
    font-family: 'Montserrat', sans-serif;
}

.card-header-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: x-large;
}

.card-header-default-title {
    font-size: larger;
}

.para-header-default-title {
    font-size: large;
}

.para-default {
    font-size: smaller;
}

.card-footer-default {
    font-size: x-small;
}

.bg-yellow {
    background-color: #F5E8AE!important;
}

.bg-dim-blue {
    background-color: #6FD0D9!important;
}

.bg-cyan {
    background-color: #B8FFE6!important;
}
