.default-font {
    font-family: 'Montserrat', sans-serif;
}

.card-default {
    padding-left: auto;
    padding-right: auto;
}

.footer {
    font-size: xx-small;
}

.title {
    font-size: x-large;
}

.header-font {
    font-family: 'Cinzel Decorative', cursive;
}
