.default-font {
    font-family: 'Montserrat', sans-serif;
}

.card-header-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: x-large;
}

.card-header-default-title {
    font-size: larger;
}

.para-header-default-title {
    font-size: large;
}

.para-default {
    font-size: smaller;
}

.card-footer-default {
    font-size: x-small;
}

.bg-yellow {
    background-color: #F5E8AE!important;
}

.bg-dim-blue {
    background-color: #6FD0D9!important;
}

.bg-cyan {
    background-color: #B8FFE6!important;
}

.profile-pic {
    margin-top: 10px;
    margin-bottom: 10px;
}

.certification-text {
    font-size: small;
}

.normal-link {
    text-decoration: none;
    /* color: aliceblue; */
}

.text-gray {
    color: white;
}

.body-font {
    font-size: medium;
}

.title-font {
    font-size: large;
}

/* codepen.io, hue loaders */
.color-changer {
    filter: hue-rotate(0deg);
    animation: hue 10000ms infinite normal;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/* dev.to underline overlay animation */
/* multicolor hover */
.multicolor-1 {
    padding: 10px;
    z-index: 0;
    transition: .4s;
}
.multicolor-1:hover {
    color: #fff;
}
.multicolor-1:before,
.multicolor-1:after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0;
    background: repeating-linear-gradient(135deg,#0000 0 15px,#CCFFFF 0 30px,#0000 0 45px,#6FD0D9 0 60px);
    transform: translate(-40px,40px);
    transition: inherit;
}
.multicolor-1:after {
    background: repeating-linear-gradient(135deg,#2B4C7E 0 15px,#0000 0 30px,#849CBF 0 45px,#0000 0 60px);
    transform: translate(40px,-40px);
}
.multicolor-1:hover:before,
.multicolor-1:hover:after {
    opacity: 1;
    transform: translate(0,0);
}

.multicolor-6 {
    --s: 1.067em;
    padding:0 10px;
    line-height: 1.6em;
    background: 
        /* conic-gradient(from 120deg at top,#1F1F20 120deg,#0000 0), */
        conic-gradient(from 120deg at top,#fff 120deg,#0000 0),
        conic-gradient(from 120deg at top,#2B4C7E 120deg,#0000 0),
        conic-gradient(from 120deg at top,#567EBB 120deg,#0000 0),
        conic-gradient(from 120deg at top,#849cbf 120deg,#0000 0);
    background-repeat: repeat-x;
    background-size: calc(var(--s)/0.577) var(--s);
    background-position: 50% calc(100% + var(--s));
    transition: .4s linear;
}
.multicolor-6:hover {
    color: #fff;
    background-position: 
        50% calc(100% + var(--s)/2),
        50% calc(100% + 0px),
        50% calc(100% - var(--s)/2),
        50% calc(100% - var(--s));
}
