.default-font {
    font-family: 'Montserrat', sans-serif;
}

.card-header-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: x-large;
}

.card-header-default-title {
    font-size: larger;
}

.para-header-default-title {
    font-size: large;
}

.para-default {
    font-size: smaller;
}

.card-footer-default {
    font-size: x-small;
}

.bg-yellow {
    background-color: #F5E8AE!important;
}

.bg-dim-blue {
    background-color: #6FD0D9!important;
}

.bg-cyan {
    background-color: #B8FFE6!important;
}

/* codepen.io, hue loaders */
.color-changer {
    filter:hue-rotate(0deg);
    /* color:linear-gradient(45deg,#0f8,#08f); */
    color:#08f;
    animation:hue 10000ms infinite linear;
}

@keyframes spinify {
    0% {
        transform: translate(0px,0px);
    }
    33% {
        transform: translate(0px,24px);
        border-radius:100%;
        width:10px;
        height:10px;
    }
    66% {
        transform:translate(0px,-16px);
    }
    88% {
        transform:translate(0px,4px);
    }
    100% {
        transform:translate(0px,0px);
    }
}
@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter:hue-rotate(360deg);
    }
}

.profile-pic {
    margin-top: 10px;
    margin-bottom: 10px;
}
