.default-font {
    font-family: 'Montserrat', sans-serif;
}

.card-header-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: x-large;
}

.card-header-default-title {
    font-size: larger;
}

.card-footer {
    font-size: xx-small;
}
