.default-font {
    font-family: 'Montserrat', sans-serif;
}

.card-header-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: x-large;
}

.card-header-default-title {
    font-size: larger;
}

.para-header-default-title {
    font-size: large;
}

.para-default {
    font-size: smaller;
}

.card-empty {
    width: 4px;
}

.card-footer-default {
    font-size: xx-small;
}
